### Importando as bibliotecas

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense

### Carregando base de dados

In [2]:
# Carregando dados de treino.
train = pd.read_csv(r'C:\Users\jpcar\Documents\DL_Projects\santander-customer-transaction-prediction\train.csv')
# Exibindo as primeiras linhas.
train.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [3]:
# Carregando dados de teste.
test = pd.read_csv(r'C:\Users\jpcar\Documents\DL_Projects\santander-customer-transaction-prediction\test.csv')
# Exibindo as primeiras linhas.
test.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

### Estatísticas dos dados de treino

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Columns: 202 entries, ID_code to var_199
dtypes: float64(200), int64(1), object(1)
memory usage: 308.2+ MB

In [5]:
train.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

### limpeza de dados

In [6]:
train.isnull().sum().sort_values()

ID_code    0
var_126    0
var_127    0
var_128    0
var_129    0
          ..
var_69     0
var_70     0
var_71     0
var_61     0
var_199    0
Length: 202, dtype: int64

In [7]:
train.isna().sum().sum()

0

In [8]:
train.duplicated().sum()

0

### redução e transformação de features

In [9]:
X_train = train.drop(['ID_code', 'target'], axis = 1)
X_train.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [10]:
y_train = train['target']
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [11]:
X_test = test.drop(['ID_code'], axis = 1)
X_test.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,8.8100,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,5.9739,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,8.3442,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,7.4578,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,7.1437,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [12]:
test.isnull().sum().sum()

0

In [13]:
X_train.var()

var_0        9.241909
var_1       16.402858
var_2        6.974322
var_3        4.175153
var_4        2.634614
              ...
var_195      2.043105
var_196     29.750144
var_197      0.849394
var_198      9.065793
var_199    108.952159
Length: 200, dtype: float64

In [14]:
ss = StandardScaler()
X_train_Scaled = ss.fit_transform(X_train)

In [15]:
X_test_Scaled = ss.transform(X_test)

In [16]:
y_train.value_counts(dropna=False)

0    179902
1     20098
Name: target, dtype: int64

In [17]:
encoder = LabelEncoder()
encoder.fit(y_train)
encoded_Y = encoder.transform(y_train)

### Configuração da rede

In [18]:
model = Sequential()
model.add(Dense(100, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

In [19]:
model.fit(X_train_Scaled, encoded_Y, epochs=100, batch_size = 35, shuffle=True, verbose=1)

Epoch 1/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0753
Epoch 2/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0674
Epoch 3/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0659
Epoch 4/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0638
Epoch 5/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0612
Epoch 6/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0586
Epoch 7/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0565
Epoch 8/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0547
Epoch 9/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0533
Epoch 10/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0518
Epoch 11/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0505
Epoch 12/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0494
Epoch 13/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0482
Epoch 14/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0474
Epoch 15/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0465
Epoch 16/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0456
Epoch 17/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0450
Epoch 18/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0443
Epoch 19/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0437
Epoch 20/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0430
Epoch 21/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0424
Epoch 22/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0419
Epoch 23/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0415
Epoch 24/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0411
Epoch 25/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0406
Epoch 26/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0403
Epoch 27/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0398
Epoch 28/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0394
Epoch 29/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0393
Epoch 30/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0388
Epoch 31/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0385
Epoch 32/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0383
Epoch 33/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0380
Epoch 34/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0376
Epoch 35/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0375
Epoch 36/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0372
Epoch 37/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0370
Epoch 38/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0368
Epoch 39/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0366
Epoch 40/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0363
Epoch 41/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0361
Epoch 42/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0359
Epoch 43/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0358
Epoch 44/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0356
Epoch 45/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0354
Epoch 46/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0351
Epoch 47/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0350
Epoch 48/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0349
Epoch 49/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0347
Epoch 50/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0345
Epoch 51/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0345
Epoch 52/100
5715/5715 [==============================] - 9s 1ms/step - loss: 0.0342
Epoch 53/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0342
Epoch 54/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0340
Epoch 55/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0338
Epoch 56/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0337
Epoch 57/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0336
Epoch 58/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0334
Epoch 59/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0334
Epoch 60/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0332
Epoch 61/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0331
Epoch 62/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0329
Epoch 63/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0329
Epoch 64/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0327
Epoch 65/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0327
Epoch 66/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0326
Epoch 67/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0324
Epoch 68/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0325
Epoch 69/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0323
Epoch 70/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0322
Epoch 71/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0321
Epoch 72/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0321
Epoch 73/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0319
Epoch 74/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0318
Epoch 75/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0318
Epoch 76/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0317
Epoch 77/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0315
Epoch 78/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0315
Epoch 79/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0314
Epoch 80/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0314
Epoch 81/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0312
Epoch 82/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0312
Epoch 83/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0311
Epoch 84/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0310
Epoch 85/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0309
Epoch 86/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0309
Epoch 87/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0307
Epoch 88/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0308
Epoch 89/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0307
Epoch 90/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0306
Epoch 91/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0306
Epoch 92/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0305
Epoch 93/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0304
Epoch 94/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0304
Epoch 95/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0302
Epoch 96/100
5715/5715 [==============================] - 10s 2ms/step - loss: 0.0303
Epoch 97/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0302
Epoch 98/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0302
Epoch 99/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0300
Epoch 100/100
5715/5715 [==============================] - 9s 2ms/step - loss: 0.0300

In [20]:
pred = model.predict(X_test_Scaled)

6250/6250 [==============================] - 9s 1ms/step

### Predição na base de testes

In [21]:
result = pd.DataFrame({"ID_code": test['ID_code'], "target": pred[:,0]})
result.head()

  ID_code    target
0  test_0  0.027216
1  test_1  0.502513
2  test_2  0.027216
3  test_3  0.063356
4  test_4  0.027216


### Arquivo para submissão

In [23]:
result.to_csv("submission1.csv", index=False)